n8n/bakutrack_daily_workflow.json
{
  "name": "BakuTrack Daily Scrape + WA Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "CronTrigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SCRAPER_BASE_URL}}/scrape/dispatch-cycle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"ralali\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "RunScrapeCycle",
      "name": "Run Scrape Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        -120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_BASE_URL}}/api/v1/internal/notifications/pending?limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{$env.BAKUTRACK_INTERNAL_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "GetPendingNotifications",
      "name": "Get Pending Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data"
      },
      "id": "SplitNotifications",
      "name": "Split Notifications",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -250,
        -120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "notification_id",
              "value": "={{$json.id}}",
              "type": "number"
            },
            {
              "name": "phone",
              "value": "={{$json.tenant.whatsapp_phone || $json.destination}}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{`[BakuTrack] ${$json.alert.alert_type}: ${$json.alert.message}`}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "PreparePayload",
      "name": "Prepare WA Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FONNTE_BASE_URL || 'https://api.fonnte.com/send'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.FONNTE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{$json.phone}}"
            },
            {
              "name": "message",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "SendWA",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        170,
        -120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.status || 0}}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "IfSent",
      "name": "WA Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        390,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/internal/notifications/' + $node['Prepare WA Payload'].json.notification_id + '/status'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{$env.BAKUTRACK_INTERNAL_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'sent', provider_message_id: $json.id || '', response_payload: $json }) }}"
      },
      "id": "MarkSent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        610,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/internal/notifications/' + $node['Prepare WA Payload'].json.notification_id + '/status'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{$env.BAKUTRACK_INTERNAL_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', response_payload: $json }) }}"
      },
      "id": "MarkFailed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        610,
        -40
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Run Scrape Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scrape Cycle": {
      "main": [
        [
          {
            "node": "Get Pending Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Notifications": {
      "main": [
        [
          {
            "node": "Split Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Notifications": {
      "main": [
        [
          {
            "node": "Prepare WA Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WA Payload": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "WA Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Sent?": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bakutrack-v1",
  "meta": {
    "instanceId": "bakutrack"
  }
}
